* {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.display-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap:wrap;
}
.flex-space-between{
    display: flex;
    justify-content:space-between;
}
.flex-space-between-center{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.align-items-center{
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-column-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-column-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-start-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-start-end{
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-end-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex1-end-center{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex1-column{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.flex1{
    display: flex;
    flex: 1;
}
.flex2{
    display: flex;
    flex: 2;
}
.flex3{
    display: flex;
    flex: 3;
}
.flex1-center{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.flex1-start{
    display: flex;
    flex: 1;
    justify-content: flex-start;
}
.flex2-center{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}
.flex3-center{
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
}

.flex2-start-center{
    display: flex;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
}
.flex1-start-center{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
.flex1-column-center{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex1-column-start-center{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.flex1-end{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.display-box{
    display: -webkit-box;
}
.box-vertical{
    -moz-box-orient:block-axis;
    -webkit-box-orient: block-axis;
}
.box1-center{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
/*.box1-column{
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;

}*/
.box1-column-center{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
}

.icon{
    width: 1em;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}
.iconfont{
    display: inline-block;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-user-select: none;
    -webkit-appearance:none;
    outline: none;
}
body,html{
    overflow: hidden;
    font-family: "微软雅黑";
    moz-user-select: -moz-none; 
    -moz-user-select: none; 
    -o-user-select:none; 
    -khtml-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
    background: #000;
}
img{
    display: block;
}

.start-box{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.start-box .circle-center{
    width: 185px;
    height: 185px;
    background-image: url('../img/CircleCenter_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.start-box .mask-tips{
    background-color: rgba(0,0,0,.4);
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    /*font-weight: 700;*/
    position: absolute;
    text-align: center;
}
.start-box .mask-tips p{
    font-size: 13px;
}

.start-box .mask-tips1{top: 250px;left: 20px}
.start-box .mask-tips2{top: 320px;left: 50%;transform: translateX(-50%)}
.start-box .mask-tips3{top: 250px;right: 20px}

.start-box .lipstick{
    width: 36px;
    height: 83px;
    background-image: url('../img/Lipstick-big.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*top: 400px;*/
}

.start-box .try-btn{
    border-radius: 50%;
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: #f52f57;
    font-size: 12px;
}

.start-box .share-btn{
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: #f52f57;
    font-size: 12px;
}

.start-box .action{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
}

.start-box .tips{
    color: #c00f27;
    font-weight: 700;
}

.btn-start{
    background-image: url('../img/bg_bt_red_small.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    width: 141px;
    height: 57px;
    line-height: 57px;
}
.btn-again-start{
    background-image: url('../img/bg_bt_red_big.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 275px;
    height: 57px;
    line-height: 57px;
    position: relative;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.btn-share{
    background-image: url('../img/bg_bt_purple_big.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 275px;
    height: 57px;
    line-height: 57px;
    position: relative;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.BulletNumBox{
    position: absolute;
    width: 4.08rem;
    height: 4.08rem;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 4.08rem;
    font-size: 1.2rem;
    top: 5.94rem;
    z-index: 30;

*filter: Glow(color=#000, strength=1);
}
.levelSwitchBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background: #FFF;
}
.hidden{
    animation:hidden 1s infinite;
    animation-iteration-count:1;
    animation-delay:2s;
    animation-fill-mode:forwards;
}

@keyframes hidden
{
from {opacity: 1}
to {opacity: 0;}
}
.levelSwitchBoxMain{
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.levelSwitchBoxBottom{
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: 0;
}
.clearfix {
    zoom: 1;
}
.clearfix:after, .clearfix:before {
    clear: both;
    content: "";
    display: block;
}

.layoutRoot{
    position: relative;
    text-align: center;
    background: #FFF;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s all;
}
.PopupBox{
    /*width: 266px;*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 150px;
}
.PopupBox .popupBox-close{
    width: 30px;
    height: 30px;
    line-height: 28px;
    border: 2px solid #ddd;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    /*position: absolute;*/
    /*left: 10px;*/
    /*top: 20px;*/
    font-size: 24px;
    font-weight: 700;
}

.PopupBox .svg-icon{
    height: 30px;
    margin: 0 5px;
}

.PopupBox .game-fail{
    width: 275.5px;
    height: 62px;
    background-image: url('../img/game-fail.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.PopupBox .game-success{
    position: relative;
    /*width: 275.5px;*/
    /*height: 62px;*/
    /*background-image: url('../img/game-success.png');*/
    width: 225px;
    height: 280px;
    background-image: url('../img/恭喜获得.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.PopupBox .product{
    padding: 0 10px;
    margin-top: 165px;
}
.PopupBox .product-image{
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    /*width: 147.5px;*/
    /*height: 147.5px;*/
    /*background-image: url('../img/product.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
}
.PopupBox .product-name{
    font-weight: 700;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.PopupBox .success-tips{
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    color: #fb4b4e;
}
/*.PopupBox .success-tips .plus{*/
    /*color: #fb4b4e;*/
    /*font-weight: 700;*/
/*}*/
/*.PopupBox .success-tips .gold-num{*/
    /*font-size: 22px;*/
    /*color: #fb4b4e;*/
/*}*/
.PopupBox .tips{
    color: #fff;
    font-size: 20px;
}
.PopupBox .level-tips{
    color: #fff;
    font-size: 20px;
}
.PopupBox .fail-tips .gold-tips{
    color: #fff;
    font-size: 18px;
}

.PopupBox .fail-tips .gold-num{
    font-size: 18px;
}

.PopupBox .fail-tips .level-tips-num{
    font-size: 20px;
    color: #fb4b4e;
    display: none;
}

.PopupBox .foot-btns{
    width: 100%;
    position: absolute;
    bottom: 200px;
    left: 0;
}

.gameOverIcon{
    height: 60px;
    width: 54px;
    position: absolute;
    top: 34px;
    left: 106px;
    background: url('../img/game_over.png');
    background-size: 100%;
}

#gameOverBoxBtn{
    margin-top: 0.18rem;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
}
.close img{
    width: 0.54rem;
    height: 0.54rem;
    padding: .24rem .32rem;
}


#timebox{
    text-align: center;
    /*line-height: 58px;*/
    font-weight: 700;
    color: #fff;
    background-color: rgba(0,0,0,.2);
    width: 50px;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
}
.levelSwitchBox .trail{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 0;
    text-align: center;
    color: #DDD;
}

.layoutRoot .lipstick-wrap{
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.layoutRoot .small-lipstick{
    width: 12.5px;
    height: 30px;
    background-image: url('../img/Small_Lipstick.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}
.layoutRoot .lipstick-num{
    color: #f52f57;
}
.layoutRoot .header{
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.layoutRoot .header .left{
    display: flex;
    flex: 1;
    align-items: center;
}

.layoutRoot .header .back{
    width: 40px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.layoutRoot .header .right{
    display: flex;
    flex: 1;
    color: #fff;
    justify-content: flex-end;
}

.layoutRoot .my-gold{
    color: #fff;
    background-color: rgba(0,0,0,.2);
    padding: 0 8px;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
}

.layoutRoot #my-gold-num{
    margin-right: 5px;
}

.layoutRoot .my-gold .svg-icon{
    height: 24px;
    margin-right: 5px;
}

.layoutRoot .my-gold .iconfont{
    color: #f9b721;
    font-size: 14px;
}

.layoutRoot .game .levelbox{
    display: flex;
    flex: 2;
    justify-content: center;
}

.layoutRoot .game .levelbox .level{
    float: left;
    width: 30px;
    height: 33px;
    margin-right: .20rem;
    position: relative;
}

.levelbox .level .iconfont{
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0,0,0,.4);
}

.levelbox .level.active .iconfont{
    color: #ffcbdd;
}

.levelbox .level .num{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #bf0a23;
}

.level img{width: 100%;}
.layoutRoot .game .tips>p span{
    color:#ffffff;
}
.layoutRoot .game .tips>p:nth-child(2){
    color: #85ff02;
}
.blur {
    opacity: 0.3;
}
.bulletsNumBox{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    overflow: hidden;
    top: 4.94rem;
    display: none;
}
.bulletsNum{
    float: left;
    height: 1.04rem;
    display: none;
}
